# https://editorconfig.org
root = true

[*]
# 最近のMacやPCモニターのサイズ考慮すると120-140でも狭い。
# プロジェクトの特性Enumの宣言などで長くなることがあり改行があると返って見づらい。
# 関数の引数が多すぎる場合はあまりない。関数の引数が多い場合は任意で改行を考慮すべきである。
max_line_length = 200

[*.{kt,kts}]
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_class-signature = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
